*.identcache
*.phb
*.dproj.local
__history/
*.ppu
*.~dpr
*.~dsk
*.~pas
*.~dfm
*.dof
*.stat
/ext/php_osinfo/php_osinfo.dll
*.dsk
*.or
/ext/php_winres/php_winres.dll
/ext/php_squall/php_squall.dll
/output
/backup
/build
/php5ts.dll
*.exe
trash/