*.identcache
*.phb
*.dproj.local
*.bpl
*.ppl
__history/
*.ppu
*.~dpr
*.~dsk
*.dof
/ext/php_osinfo/php_osinfo.dll
*.dsk
*.or
/ext/php_winres/php_winres.dll
/ext/php_squall/php_squall.dll
/output
/backup
/build
/php5ts.dll
*.exe
*.dll
/AlphaControls/
/AlphaControles/
/CEF4Delphi-master/bin/
/CEF4Delphi-master/demos/
/trash/
*.dcu
AutomaticConversion.log
awCosnole.pas
*.local
*.stat
*.res
*.o
*.a
*.bak
*.pas_s
*.compiled
*.dcu
